h1{
    margin-top: 70;
    color: #e74c3c; /* Color rojo en formato hex, puedes usar otros tonos de rojo si lo prefieres */
}

.imagen {
    text-align: center;  /* Asegura que la imagen esté centrada */
  }
  
  .imagen img {
    width: 170px;  /* Ajusta el tamaño de la imagen */
    height: auto;  /* Mantiene las proporciones */
    border-radius: 50%;  /* Hace la imagen circular (opcional) */
    margin-top: 30px;
  }